<div class="row" style="margin-bottom: 20px;">
    <p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p><p>Login form style 1</p><p>Login form style 1</p><p>Login form style 1</p>
</div>

<div class="row" style="margin-bottom: 20px;">
    <p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p><p>Login form style 1</p><p>Login form style 1</p><p>Login form style 1</p>
</div>
<div class="row" style="margin-bottom: 20px;">
    <p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p>
    <p>Login form style 1</p><p>Login form style 1</p><p>Login form style 1</p><p>Login form style 1</p><p>Login form style 1</p>
</div>